<%- include('./includes/head.ejs') %>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
   <%- include('./includes/navbar.ejs') %>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
               <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="<%=book.details.image_url%>" style="width:100px;height:100px"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=book.title%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><%=book.author%></span></h4><h4>
                  </h4></div> 
                <div class="col-xs-3"></div>
              </div>  
              <%-book.details.description%>
              <br/><br/>
                  <!-- Add Book to Library/AntiLibrary logic begins here -->  
                  
                  <%if (login && (libraryIndex > -1)) { %>
                    <div>
                    <form action="/users/update-library" method="post" id="deleteFromLibrary">
                    <input type="hidden" name="form" id="form" value="deleteFromLibrary">
                    <input type="hidden" name="book" id="book" value="<%=book._id%>">
                    <input type="hidden" name="user" id="user" value="<%=user._id%>">
                    </form>
                    <button type="submit" form="deleteFromLibrary" value="Submit">Remove this book from your Library</button>          
                    </div>
                 
                  <% } else if (login && (anti_libraryIndex > -1)) { %> 
                    <div>
                    <form action="/users/update-library" method="post" id="deleteFromAntiLibrary">
                    <input type="hidden" name="form" id="form" value="deleteFromAntiLibrary">
                    <input type="hidden" name="book" id="book" value="<%=book._id%>">
                    <input type="hidden" name="user" id="user" value="<%=user._id%>">
                    </form>
                    <button type="submit" form="deleteFromAntiLibrary" value="Submit">Remove this book from your Anti-Library</button>  
                   </div>

                  <% } else if (login) { %>
                  <div>
                    <form action="/users/update-library" method="post" id="addToLibrary">
                    <input type="hidden" name="form" id="form" value="addToLibrary">
                    <input type="hidden" name="book" id="book" value="<%=book._id%>">
                    <input type="hidden" name="user" id="user" value="<%=user._id%>">
                    </form>
                    <button type="submit" form="addToLibrary" value="Submit">Add this book to your Library</button>
                      <br/><br/>
                    <form action="/users/update-library" method="post" id="addToAntiLibrary">
                    <input type="hidden" name="form" id="form" value="addToAntiLibrary">
                    <input type="hidden" name="book" id="book" value="<%=book._id%>">
                    <input type="hidden" name="user" id="user" value="<%=user._id%>">
                    </form>
                    <button type="submit" form="addToAntiLibrary" value="Submit">Add this book to your Anti-Library</button>
                  </div>

                  <% } %>

            
            
              <br/>
              <h4><b>Comments</b></h4> 
              <%for(let i=0; i<comments.length; i++) {%>
              <div class="comment-container"><br>
                
                 <div class="comment-user">
                   <a href="/users/<%=comments[i].user_id%>"><img alt="" src="<%=comments[i].user_avatar%>"
                   style="width:50px;height:50px"></a>
                   <a href="/users/<%=comments[i].user_id%>"><h5><%=comments[i].user_username%></h5></a>
                 </div>

                 <div class="comment-text">                    
                   <h5><%=comments[i].text%></h5>
                 </div>
            
             <% } %>
             

             <%if (login) { %>
              <div class="comment-container">
                <br/>
                <form name="commentForm" action="" method="post">
                  <div>
                    <textarea placeholder="Post a comment" name="text" id="text" rows="2" cols="80"></textarea>
                    <input type="hidden" name="book" id="book" value="<%=book._id%>">
                    <input type="submit" value="submit" />
                  </div>
                </form>

              </div>
             <% } %>

             

             
          </div>
          </div>
          </div>
          <hr>
       
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>
<%- include('./includes/footer.ejs') %>