<%- include('./includes/head.ejs') %>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
   <%- include('./includes/navbar.ejs') %>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      

      <div class="panel">
        <div class="panel-body">
          
          
            
          <!--/stories-->
          <div class="row">    
            <br/>
            <div class="col-md-2 col-sm-3 text-center">
                Add Book!
                <br/><br/><form name="addBookForm" action="" method="post">
                Title: <input name="title" id="title"/><br/>
                Goodreads Book Id: <input name="bookId" id="bookId" required />
                <br/><br/>
                  <select type="text" name="author" id="author" required >
                      <option value="">Select Author</option>
                      <%for (let i=0; i<authors.length; i++) {%>
                        <option value="<%=authors[i]._id%>"><%=authors[i].name%></option>                                
                      <%}%>  
                  </select>
                  <br/><br/>
                  
                <input type="submit" value="Add Book" />
                </form>
            </div>
          </div>
          <hr>
          
          
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>
<%- include('./includes/footer.ejs') %>