<%- include('./includes/head.ejs') %>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
   <%- include('./includes/navbar.ejs') %>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">

       <%if (login) { %>
          <div>
          <b><%=user.username%></b> is currently logged in:
          </div>
        <% } %>

        <div class="panel-body">
          
          
          
          <!--/stories-->
          <%for(let i=0; i<users.length; i++) {%>
               <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="<%=users[i].avatar%>" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <a href="/users/<%=users[i]._id%>"><h3><%=users[i].username%></h3></a>
              <div class="row">
                <div class="col-xs-9">
                  <a href="/users/<%=users[i]._id%>" class="text-muted">See Profile</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <%}%>

          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>
<%- include('./includes/footer.ejs') %>